*{
    margin: 0;
    padding: 0;    
}

.container{
    background-image: url(bg.png);
    height: 100vh;
    background-size: 100% 100%;
}

.container .navbar{
    width: 100%;
}

.navbar .logo{
    display: inline-flex;
    margin-left: 50px;
    margin-top: 30px;
}

.navbar .logo a{
    text-decoration: none;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: aquamarine;
    margin-left: 20px;
}

.navbar ul{
    float: right;
    margin-right: 50px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 25 30px;
    line-height: 120px;
}

.navbar ul li a{
    color: wheat;
    text-decoration: none;
    font-size: 15px;
    padding: 5px 30px;
    font-family: 'Times New Roman', Times, serif;
    transition: .5s;
}

.navbar ul li a:hover{
    color: aquamarine;
    transition: 1s;
}

.container .mid{
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%,-50%);
    font-family: Verdana;
    user-select: none;
}

span{
    color: aquamarine;
}

.mid h1{
    color: wheat;
    font-size: 100px;
    font-weight: lighter;
    width: 100px;
    margin-top: -300px;
    margin-right: 1000px;
    text-align: center;
}

.mid h4{
    color: wheat;
    font-size: 13px;
    font-weight: lighter;
    width: 500px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 70px;
    text-align: left;
}

.mid .button{
    margin: 20px 400px;
}

.button button{
    height: 40px;
    width: 120px;
    font-size: 12px;
    font-weight: bold;
    color: #191919;
    background: aquamarine;
    cursor: pointer;
    outline: none;
    margin-left: -340px;
    margin-top: -40px;
    border-radius: 10px;
    transition: 2s;
}

.button button:hover{
    transform: scale(1.5);
    color: aquamarine;
    background-color: ghostwhite;
}